<h1>Add Exercise to Workout</h1>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= form_with model: @repetition,  class: "new_repetition_form" do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>