<h1> Workouts </h1>

<ul>All Workouts</ul>
<% if !@workouts.nil? %>
  <% @workouts.each do |workout| %>
    <li><%= link_to workout.title, workout %> <%= workout.type %> <%= workout.rating %></li>
  <% end %>
  </ul>
<% end %>
<%= link_to 'create new workout', new_workout_path %>