<div class="wrapper fadeInDown">
  <div id="formContent">
    <%= form_with model: @user do |f| %>
       <%= render :partial => 'form', :locals => { :f => f } %>
      <br>
      <%=link_to "cancel", workouts_path %>
    <% end %>
</div>