<div class="wrapper fadeInDown">
  <div id="formContent">

    <%= form_with(model: @exercise, url: workout_exercises_path(@workout), method: :post)  do |f| %>
       <%= render :partial => 'form', :locals => { :f => f } %>
      <br>
      <%=link_to "cancel", workout_exercises_path %>
    <% end %>
</div>